<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://xml.phpdox.net/config" silent="false">
    <bootstrap />

    <!-- A phpDox project to process, you can have multiple projects in one config file -->
    <project name="Teto Simple Router" source="${basedir}/src" workdir="${basedir}/build/phpdox/xml">
        <collector publiconly="false" backend="parser">
            <include mask="*.php" />
            <exclude mask="" />

            <inheritance resolve="true">
            </inheritance>

        </collector>

        <generator output="${basedir}/build/phpdox">
            <enrich base="${basedir}/build/logs">
                <source type="build" />
                <source type="phploc" />
                <source type="git" />
                <!--<source type="checkstyle">-->
                    <!-- @type - the handler for the enrichment -->
                    <!--         known types by default are: checkstyle, pmd, clover, phpunit -->

                    <!-- every enrichment source can have additional configuration nodes, most probably need a logfile -->
                    <!-- <file name="logs/checkstyle.xml" /> -->
                <!--</source> -->

                <source type="pmd">
                    <file name="phpmd.xml" />
                </source>
            </enrich>

            <build engine="html" enabled="true" output="html">
                <file extension="html" />
            </build>
        </generator>
    </project>
</phpdox>
